In [ ]:
# This is POC of how we are going to predict the market investment for eduction.

In [8]:
# Packages for analysis

import pandas as pd

In [10]:
# Read in Students Education Data data

studentData = pd.read_csv('student_educational_details.csv')
studentData

,Name,Country,State,City,Board,Intermediate,JEE mains,JEE Advance
0,Akash,India,Jharkhand,Dhanbad,72,60,70,0